<div >
  <div ng-if='Getting' class="c-abs-loading"><img src="../../../../build/images/loading.gif"></div>
  <div ng-if="!Getting" class="row">
    <div class="col-lg-12">
      <div class="hpanel">
        <div class="panel-heading">
          {{label | titleCase}} Edit
        </div>
        <div class="panel-body">
          <form name="simpleForm" novalidate id="simpleForm">
            <div class="text-center m-b-md">
              <a ng-click="wizard.show(1)" class="btn" ng-class="{ 'btn-primary': step == 1, 'btn-default': step != 1}">Step 1 - Info</a>
              <a ng-click="wizard.show(2)" class="btn" ng-class="{ 'btn-primary': step == 2, 'btn-default': step != 2}">Step 2 - Finish </a>
            </div>
            <div  class="p-m">
              <div class="row u-pt10 u-pb15 ">
                <div class="form-group col-lg-12">
                  <label>Title <span class="{{!revised_node.properties.title.length ? 'red-text':''}}">*</span></label>
                  <small class="u-float-right text-mute">{{revised_node.properties.title.length || 0}} / 40 MAX characters</small>
                  <input type="" value="" id="" class="form-control" ng-model="revised_node.properties.title" placeholder="title">
                </div>
                <div class="form-group col-lg-12">
                  <label>Description <span class="{{!revised_node.properties.description.length ? 'red-text':''}}">*</span></label>
                  <small class="u-float-right text-mute">{{revised_node.properties.description.length || 0}} / 140 MAX characters</small>
                  <input type="text" value="" id="" class="form-control" name="" placeholder="description" ng-model="revised_node.properties.description">
                </div>
                <div class="form-group col-lg-12">
                  <label>Image </label>
                  <small> Recommend dimension 480x160 </small>
                  <input type="" value="" id="" class="form-control" placeholder="image url" ng-model="revised_node.properties.image_url">
                </div>

                <div class="col-xs-12">
                  <div class="form-inline">
                      Maturity Level:
                      <select class="form-control" ng-model="revised_node.properties.maturity_level" ng-options='option for option in ["1-Ad-hoc","2-Managed","3-Integrated","4-Optimized","5-Innovating"]'>
                      </select>
                  </div>
              </div>
              </div>

              <div class="text-right m-t-xs">
                <button ng-click="PopDeleteAlert()" class="btn btn-danger u-float-left">Delete</button>

                <button ng-click="cancel()" class="btn btn-default">Close</button>
                <button ng-click="submit()"  class="btn btn-success" >Update</button>
              </div>
          </form>
          <div class="m-t-md">
          </div>
          </div>
        </div>
      </div>
    </div>
  </div>
