<div>
  <div ng-if='Getting' class="c-abs-loading"><img src="/build/images/loading.gif"></div>
  <div ng-if="!Getting" class="row">
    <div class="col-lg-12">
      <div class="hpanel">
        <div class="panel-heading">
          <div></div>
          {{label}} creation
        </div>
        <div class="panel-body">
          <form name="simpleForm" novalidate id="simpleForm">

            <div class="p-m">
              <div class="row">
                <div class="col-lg-3 text-center">
                  <i class="pe-7s-user fa-5x text-muted"></i>
                  <p class="small m-t-md">
                    <strong>{{label | titleCase}} info: </strong>
                    <br/><br/>Name and describe this {{label}}. These fields will help identify your
                    {{label}} for guests and for collecting results
                  </p>
                </div>
                <div class="col-lg-9 {{revised_node.properties.color}} lighten-4">
                  <div class="row u-pt10 u-pb15 ">
                    <div class="form-group col-lg-12">
                      <label>Title <span class="{{!revised_node.properties.title.length ?'red-text':''}}">*</span></label>
                      <small class="u-float-right text-mute">{{revised_node.properties.title.length || 0}} / 40 MAX characters</small>
                      <input type="" value="" id="" class="form-control" ng-keyup="updateDescriptionText(autoDescription)" ng-model="revised_node.properties.title" placeholder="title">
                    </div>
                    <div class="form-group col-lg-12">
                      <label>Description <span class="{{!revised_node.properties.description.length ?'red-text':''}}">*</span></label>
                      <small class="u-float-right text-mute">{{revised_node.properties.description.length || 0}} / 140 MAX characters</small>
                      <div ng-class="{'input-group':autoDescription}">
                        <input type="text" value="" required id="" class="form-control" name="" placeholder="description" ng-model="revised_node.properties.description" ng-disabled="autoDescription">
                        <span class="input-group-btn" ng-show="autoDescription">
                          <button class="btn btn-default" ng-click='autoDescription = false' type="button">Edit</button>
                        </span>
                      </div>
                    </div>
                    <div class="form-group col-lg-12">
                      <label>Start Date</label>
                      <input date-object type="date" value="" class="form-control" ng-model="revised_node.properties.startDate" ng-init="revised_node.properties.startDate = new_date" ng-change="onStartDateChange()">
                    </div>
                    <div class="form-group col-lg-12">
                      <label>Deadline</label>
                      <input date-object type="date" value="" class="form-control" ng-model="revised_node.properties.deadline" ng-init="revised_node.properties.deadline = new_date">
                    </div>
                    <div class="form-group col-lg-12">
                      <label>Dependencies</label>
                      <input type="text" value="" class="form-control" placeholder="Dependencies" ng-model="revised_node.properties.dependencies">
                    </div>
                    <div class="form-group col-lg-12">
                      <label ng-class="{'error-message' : simpleForm.priority.$invalid}">Priority (between 1 and 5)</label>
                      <input name="priority" type="number" value="" class="form-control" min="1" max="5" placeholder="Priority" ng-model="revised_node.properties.priority">
                      <div class="error-message" ng-if="simpleForm.priority.$invalid">Please enter valid values</div>
                    </div>
                    <div class="form-group col-lg-12">
                      <label>Progress</label><br/>
                      <small>What percent of this milestone is complete?</small>
                      <div class="input-group">
                        <span class="input-group-addon">%</span>
                        <input type="number" value="" class="form-control" ng-model="revised_node.properties.progress">
                      </div>
                    </div>
                    <!-- <div class="col-lg-12">
                      <div class="c-color-palettes">
                        <div>
                          <label>Color</label>
                        </div>
                        <div class="c-color-palettes__item" ng-repeat='color in $root.colors'>
                          <div class='panel {{color}}' style='height:25px; width:25px' ng-click='revised_node.properties.color = color' title="{{color}}"></div>
                        </div>
                      </div>
                    </div> -->
                  </div>
                </div>
              </div>
            </div>
            <div class="text-right m-t-xs">
              <button ng-click="cancel()" class="btn btn-default">Cancel</button>
              <button ng-click="submit()" ng-disabled="simpleForm.priority.$invalid"  class="btn btn-success">Submit</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
