<div class="color-line"></div>

<div ng-show="loading" class="auth-loading">
  <i class="fa fa-circle-o-notch fa-spin"></i>
</div>

<form autocomplete="off" name="login" class="login-container" ng-submit="authenticate(user)" novalidate ng-init="user.authType='login'">
  <div class="row">
    <div class="col-md-12">
      <div class="text-center m-b-md">
        <img class="company-logo" ng-src="{{'https://ruptivefiles.blob.core.windows.net/logos/' + subdomain + '-logo.png'}}"
             onerror="this.src = 'https://ruptivefiles.blob.core.windows.net/logos/ruptive-logo.png'"/>
        <!-- <h3>Login to Ruptive</h3> -->
      </div>
      <div class="hpanel shadow">
        <div class="panel-body shadow">
          <div class="auth-options">
            <div class="local">
              <h6>Email Login</h6>
              <div class="error" ng-show="error" ng-bind-html="error"></div>
              <div class="form-group">
                <label class="control-label" for="email">Email</label>
                <input type="email"
                     name="email"
                     id="email"
                     ng-model="user.properties.email"
                     placeholder="Email Address"
                     autofocus="true"
                     autocomplete="off"
                     class="form-control"
                     required/>
              </div>
              <div class="form-group">
                <label class="control-label" for="password">Password</label>
                <input type="password"
                     name="password"
                     id="password"
                     ng-model="user.password"
                     autocomplete="off"
                     placeholder="Choose Password"
                     class="form-control"
                     required/>
              </div>
              <!-- <input type="submit" class="btn btn-success btn-block" value="Login"></a> -->
              <button ladda="posting" type="submit" class="btn btn-success btn-block" data-style="expand-right">
                <span class="ladda-label">Login</span><span class="ladda-spinner"></span>
              </button>
              <!-- <br> -->
              <a href="mailto:ruptivehelpdesk@indigoslate.com?subject=Trouble with login&body=I need help logging into: {{subdomain}}">Trouble with login?</a>
            </div>
            <div class="divider"></div>
            <div class="sso" ng-class="{'hidesso': hidesso}" ng-click="hidesso = false">
              <h6>Single Sign On</h6>
              <!-- <a ng-show="hidesso" class="text">Click for Single Sign on options</a> -->
              <div class="options">
                <div class="btn btn-azure" ng-click="authenticate(null)">
                  <i class="fa fa-windows" aria-hidden="true"></i>&nbsp;&nbsp;Azure AD Login
                </div>
                <!-- <div class="seperator" ng-show="config.selfService">
                  <hr>
                </div> -->
                <!-- <div ng-show="config.selfService">
                  <u><a ui-sref="self-service">Self Service Sign Up</a></u>
                </div> -->
              </div>
            </div>
          </div>
          <!-- <div class="other-links">
            <a ui-sref="register">Don't have an account? Register here</a>
          </div> -->
          <div class="legal-links">
            <small>
              <a href="https://aka.ms/privacy" target="_blank">Privacy Policy</a>&nbsp;&nbsp;
              <a class="pull-right" href="https://ruptivefiles.blob.core.windows.net/files/terms-of-use.pdf" target="_blank">Terms of use</a>
              <br><br>
              <a ng-show="config.version" class="text-center text-muted">Ruptive build: {{config.version}}</a>
            </small>
          </div>
        </div>
      </div>
    </div>
  </div>
</form>
