<ul side-navigation class="nav c-nav-sidebar" ng-init="expandComponents=false">

    <li ui-sref-active="active" class="active">
      <a href="#"><span class="nav-label">Manage Libraries</span><span class="fa arrow"></span> </a>
      <ul class="nav nav-second-level">
          <li ui-sref-active="active">
              <a ui-sref="dashboard.adoption"><span class="nav-label">Adoption Patterns</span></a>
          </li>
          <li ui-sref-active="active">
              <a ui-sref="dashboard.journey" ui-sref-opts="{inherit: false}"><span class="nav-label">Journey Maps</span></a>
          </li>
          <li ui-sref-active="active">
              <a ui-sref="dashboard.persona"><span class="nav-label">Persona Profiles</span></a>
          </li>
          <li ui-sref-active="active">
              <a ui-sref="dashboard.learning"><span class="nav-label">Learning Paths</span></a>
          </li>
          <li ui-sref-active="active">
              <a ui-sref="dashboard.brainstorm"><span class="nav-label">Brainstorming</span></a>
          </li>
          <li ui-sref-active="active">
              <a ui-sref="dashboard.horizon"><span class="nav-label">Horizon Maps</span></a>
          </li>
      </ul>
    </li>

    <li ng-class="{'active':expandComponents}">
        <a href="#"><span class="nav-label">Components</span><span class="fa arrow pull-right"></span> </a>
        <ul class="nav nav-second-level">
            <li ui-sref-active="active" ng-click="expandComponents=true">
              <a ui-sref="model.label({'label':'persona'})"><span class="nav-label">Personas</span></a>
            </li>
            <li ui-sref-active="active" ng-click="expandComponents=true">
                <a ui-sref="model.label({'label':'product'})"><span class="nav-label">Products</span></a>
            </li>
            <li ui-sref-active="active" ng-click="expandComponents=true">
                <a ui-sref="model.label({'label':'stage'})"><span class="nav-label">Stages</span></a>
            </li>
            <li ui-sref-active="active" ng-click="expandComponents=true">
                <a ui-sref="model.label({'label':'interaction'})"><span class="nav-label">Note Types</span></a>
            </li>
            <li ui-sref-active="active" ng-click="expandComponents=true">
                <a ui-sref="model.label({'label':'strategy'})"><span class="nav-label">Strategies</span></a>
            </li>
            <li ui-sref-active="active" ng-click="expandComponents=true">
              <a ui-sref="dashboard.kpi"><span class="nav-label">KPIs</span></a>
            </li>
        </ul>
    </li>

    <li ui-sref-active="active">
        <a ui-sref="dashboard.projects"><span class="nav-label">Projects</span></a>
    </li>
    <li ui-sref-active="active">
       <a ng-click="$root.logout()"><span class="nav-label">Logout</span></a>
   </li>
</ul>
