//Global Variables

//Font-weights
$font-weight__thin: 100;
$font-weight__header: 300;
$font-weight__normal: 400;
$font-weight__bold: 600;
$font-weight__strong: 700;

//Font-color
$color-blue: #0066b9;
$color-teal: #15E3FF;
$color-grey-light: #eaeaea;
$color-grey: #65676a;
$color-grey-dark: #535456;
$color-normal: #2F2F2F;

//Line Height
$line-height__body: 1.4em;
$line-height__header--h1: 1.35em;
$line-height__header--h2: 1.2em;
$line-height__header--h3: 1.1em;
$line-height__header--h4: 1.35em;
$line-height__header--h5: 1.1em;

//Background colors
$bg-blue-light: #f1f3f6;
$bg-blue: #0078D7;
$bg-blue-dark: #002050;
$bg-grey: #f7f9fa;
$bg-grey-dark: #f1f2f2;

//Border colors
$border-grey: #eaeaea;
$border-grey-light: #DDD;
$border-grey-dark: #BCBDBA;
$border-blue: #0078D7;


// Trevor
$navyBlue1: #25263d;
$navyBlue2: #1C1D2E;
$purple1: #eaebf9;
$gold1: #ae9d63;
$gold2: #9b8c59;
$yellow1: #fff6b1;
$grey1: #808184;
$red1: #f15b58;
$green1: #b7ddb5;
