.graphs {
  & .panel-body {
    position: relative;
    min-height: 680px;
    & .graph-header {
      margin: 0 0 20px 8px;
    }
    & .graph-sidebar {
      width: 150px;
      float:left;
      // background: #fcfcfc;
      // border: 1px solid #eee;
      // border-radius:7px;
      height:calc(100% - 135px);
      margin-right:15px;
      position:absolute;
      & .btn-group {
        & .btn {
          width: 100%;
        }
      }
    }
    & .graph {
      width:calc(100% - 185px);
      float:right;
    }
    & .btn-group {
      & p {
        font-weight: bold;
        margin: 10px 0 2px 0;
      }
      margin-bottom: 10px;
    }
  }
}
