<div ng-show="Getting" class="auth-loading">
  <i class="fa fa-circle-o-notch fa-spin"></i>&nbsp;
  <h5> {{Getting}}</h5>
</div>

<div class="content" ng-init="showBrainstorm = false">
  <div class="row">
    <div class="hpanel Info">
      <div class="panel-body">
        <div class="row">
          <div class="col-sm-12 col-lg-6">
            <h2 class="c-section-title">{{label}} Library
              &nbsp;&nbsp;&nbsp;
              <div ng-show="label === 'Stage'" class="workshop-filters">
                <a class="filters--item btn large blue {{showBrainstorm ? 'lighten-1' : 'lighten-4'}}"
                  ng-click="showBrainstorm = !showBrainstorm">Show Brainstorming</a>
              </div>
            </h2>
          </div>
          <div class="col-sm-12 col-lg-6 u-mt10">
            <div class="row">
              <div class="col-xs-8">
                <input type="" value="" id="" class="form-control" ng-model="search" placeholder="search">
              </div>
              <div class="col-xs-4">
                <button class="btn btn-primary btn-block" ng-if='PopCreateModal' ng-click="PopCreateModal(label);">Create {{label}}</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="c-flex c-flex--3 c-flex--stretch c-flex--wrap c-dashboard-cards">
      <div class="c-flex__col" ng-repeat='item in library.node_label_index[label]'
           ng-show="(library.nodes[item].properties.brainstorm ? library.nodes[item].properties.brainstorm === showBrainstorm : true) &&
           (library.nodes[item].properties.title.toLowerCase().indexOf(search.toLowerCase()) >= 0 || library.nodes[item].properties.description.toLowerCase().indexOf(search.toLowerCase()) >= 0)">
        <div class='library_card_wrapper'>
          <node-card-large node='library.nodes[item]' library='library'></node-card-large>
          <div class='u-table library-card-groupBtns u-bg-grey'>
            <a ng-click='PopOverviewModal(item)' ng-if='PopOverviewModal && $root.Person.role === "tenant"' class="u-table-cell">Overview</a>
            <a ng-click='getStageDescriptions(item, library.nodes[item].properties.description)' ng-if='label == "Stage" && $root.Person.role !== "attendee"' class="u-table-cell">Descriptions</a>
            <a ng-click='PopEditModal(label, item)' ng-if='PopEditModal && (library.rels[library.outgoing.author[item][0]].to_id == $root.Person.properties.uuid || $root.Person.role=="tenant")'
            class=" u-table-cell ">Edit</a>
            <a ng-click='PopConnectModal(item)' ng-show="label == 'Segment'"
            class=" u-table-cell ">Components</a>
            <a ng-click='PopConnectPersonaModal(item)' ng-show="label == 'Persona'"
            class=" u-table-cell ">Components</a>
          </div>
          <div class='u-table library-card-groupBtns u-bg-grey' ng-if='$root.Person.role === "tenant"'>
            <a ng-click='Focus(item)'  class="u-table-cell">Focus</a>
          </div>
        </div>
      </div>
      <!-- to fix flex alignement issue -->
      <div class="c-flex__col"></div>
      <div class="c-flex__col"></div>
    </div>
  </div>
