<div class="col-xl-2 col-lg-3 col-md-4 col-sm-6 static-note-container" ng-if="journey.static_image_ref || stage.workshop_static_image_ref || hasInnerText(stage.workshop_static_text)" ng-init="note = {static: true}">
  <div ng-include="'views/Workshops/Journey/_note.html'"></div>
</div>

<div ng-if="$root.Person.role !== 'external'" ng-repeat="component in journeyConnections track by $index">
  <div class="col-xl-2 col-lg-3 col-md-4 col-sm-6">
    <div ng-include="'views/Workshops/Journey/_component.html'"></div>
  </div>
</div>

<div ng-if="$root.Person.role === 'external' && note.connection" ng-repeat="note in journeyConnections | orderBy: [noteCardOrder] | filter: externalFilter track by $index">
  <div class="col-lg-3 col-md-4 col-sm-6">
    <div ng-include="'views/Workshops/Journey/_external_note.html'"></div>
  </div>
</div>
