<div class="panel-body">
    <h3> <a href="" title="close" ng-click="cancel()" class="fa fa-times pull-right" style="color:#777"></a></h3>
    <!-- <div ng-if='subgraph.nodes'> -->
    <multi-subscriber-grid
      subgraph="subgraph"
      original="subgraph_initial"
      pivot="milestone_uuid"
      label="'Note'"
      type="'milestone_component'">
    </multi-subscriber-grid>
    <button class="btn btn-default u-mt10 pull-right" ng-click='submit()'>Submit</button>
    <button class="btn btn-default u-mt10 pull-right" ng-click='cancel()'>Cancel</button>
    <!-- </div> -->
</div>
