<div wizard steps='2' final-step-callback='PrepData'>
    <div ng-if='Getting' class="c-abs-loading"><img src="../../../../build/images/loading.gif"></div>
    <div ng-if="!Getting" class="row">
        <div class="col-lg-12">
            <div class="hpanel">
                <div class="panel-heading">
                    <div></div>
                    <label>{{bullseye_connections.nodes[bullseye_connections.node_label_index.Bullseye[0]].properties.title}}</label> : Connections
                </div>
                <div class="panel-body">
                    <form name="simpleForm" novalidate id="simpleForm">
                        <div class="text-center m-b-md">
                            <a ng-click="wizard.show(1)" class="btn" ng-class="{ 'btn-primary': step == 1, 'btn-default': step != 1}">Step 1 - Invite</a>

                            <a ng-click="wizard.show(steps)" class="btn" ng-class="{ 'btn-primary': step == steps, 'btn-default': step != steps}">Step 2 - Finish </a>
                        </div>

                        <div ng-show="step == 1" class="p-m row">
                            <multi-subscriber-grid subgraph='bullseye_connections' original='initial_bullseye_connections' pivot='bullseye_connections.node_label_index.Bullseye[0]'
                            type='"bullseye_attendee"' label='"Person"'></multi-subscriber-grid>
                        </div>
                       
                        <div class="text-right m-t-xs">
                            <button ng-click="cancel()" class="btn btn-default">Cancel</button>
                            <button ng-click="wizard.prev()" ng-disabled="step == 1" class="btn btn-default">Previous</button>
                            <button ng-click="wizard.next()" ng-disabled="step == steps" ng-hide="step == steps" class="btn btn-default">Next</button>
                            <button ng-click="submit()" ng-show="step == steps" class="btn btn-success" >Submit</button>
                        </div>
                    </form>
                   
                </div>
            </div>
        </div>
    </div>

</div>